In [2]:
# Import libraries and initialize global variables
import utils
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import matplotlib.dates as mdates
Start_date = utils.date_range()[0]
End_date = utils.date_range()[1]
import datetime 
  
def convert2hours(n): 
    return str(datetime.timedelta(seconds = n))

In [3]:
# Pick start date
Start_date

DatePicker(value=datetime.date(2020, 9, 22), description='Start Date')

In [4]:
# Pick end date
End_date

DatePicker(value=datetime.datetime(2021, 5, 2, 11, 13, 2, 79567), description='End Date')

In [5]:
%%time
# database response stored in pandas dataframe
df = utils.db_connect(pem_file='newcentos.pem',
                      start_date=Start_date.value.strftime("%Y-%m-%d"),
                      end_date=End_date.value.strftime("%Y-%m-%d"))

CPU times: user 477 ms, sys: 155 ms, total: 633 ms
Wall time: 11.4 s

In [7]:
# Highlight deployed devices
df['device_deployed'] = np.where(df['mac'].isin(['84CCA89A1706','84CCA899CEE53','CC50E304FA9A',
                   '84CCA899FCA7','84CCA89B799C','CC50E3DA533F','84CCA89A48AF','84CCA899CEE2',
                    '84CCA899F97E','84CCA899D15B','CC50E304FADC']), 'Yes', 'No')
df.tail()

,id,status,userid,timestamp,mac,current,voltage,power,devicestatus,device_deployed
10519,504992,1,505,2021-05-02 16:12:32,84CCA89B799C,0.84,241,117.15,on,Yes
10520,504993,1,505,2021-05-02 16:12:39,84CCA89B799C,0.72,233,110.48,on,Yes
10521,504994,1,505,2021-05-02 16:12:51,84CCA89B799C,0.7,215,108.93,on,Yes
10522,504995,1,505,2021-05-02 16:13:30,84CCA89B799C,0.02,233,0.95,on,Yes
10523,504996,1,505,2021-05-02 16:13:36,84CCA89B799C,0.02,239,1.01,on,Yes

In [10]:
# plug monitors transmitting data after select_date
select_date = '2021-05-01'
df[df.timestamp > select_date].mac.unique().tolist()

['CC50E3DA533F', '84CCA899CE69', '84CCA89B799C']

In [ ]:
# save file to csv
path2savefile = '' # input file path including file name
df.to_csv(path2savefile)